<h1>New task</h1>

<%= render 'form' %>

<%#= form_for @task do |f| %>
  <%#= f.label :title %>
  <%#= f.text_field :title %>
  <%#= f.label :details %>
  <%#= f.text_area :details , size: "60*12" %>
  <%#= f.submit "Create" %>
<%# end %>
